<!-- choco install *.config: has to end in .config -->

<?xml version='1.0' encoding='utf-8'?>

<packages>

<!-- core -->

<package id='openssh' />
<package id='openvpn' />
<package id='vim' /> <!-- r/t emacs -->
<package id='vifm' /> <!-- r/t far -->
<package id='aria2' />
<package id='git' packageParameters='/noshellintegration' />
<package id='clamwin' />
<package id='gnuwin32-coreutils.install' /> <!-- cygwin -->
<package id='sqlite' />
<package id='osquery' />
<package id='fzf' />
<package id='unrar' /> <!-- r/t rar -->
<package id='everything' />
<package id='procexp' />
<package id='cpu-z' />
<package id='python' />
<package id='ruby' />
<package id='battoexeconverter' />
<package id='classic-shell' />
<package id='winscp' />
<package id='filezilla' />
<package id='tigervnc-viewer' /> <!-- 5901 -->
<package id='npm' />
<package id='zabbix-agent' />
<package id='autoruns' />
<package id='putty' />
<package id='resourcehacker.portable' />
<package id='rdcman' />
<package id='hexchat' />
<package id='winrar' />
<package id='clink' />
<package id='conemu' /> <!-- r/t cmder, hyper -->
<package id='switcheroo' />
<package id='firefox' /> <!-- r/t googlechrome -->
<package id='visualstudiocode' /> <!-- r/t notepadplusplus, atom -->
<package id='mpv' /> <!-- r/t vlc -->
<package id='qbittorrent' /> <!-- r/t utorrent -->
<package id='freerdp' />
<package id='itunes' />
<package id='youtube-dl' />
<package id='hyper' />
<package id='rufus' />
<package id='stickies' />
<package id='sumatrapdf' /> <!-- epub reader -->
<package id='less' /> # doesn't come with coreutils
<package id='desktops' /> # by sysinternals
<package id='ripgrep' />

<!-- pscx -->

</packages>
